body, html {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    max-width: 450px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
}

.container {
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 10px;
    align-self: center;
}

.logo {
    margin: 0 auto 100px;
    display: block;
}

.input-error {
    border: solid 2px red!important;
    box-sizing: border-box;
}

/* home */
.home__link {
    font-size: 30px;
    text-align: center;
}

.home__link a {
    text-decoration: none;
    color: inherit;
}

/* invite  */

.invite__header {
    font-size: 40px;
    text-align: center;
    margin: 0 0 60px;
}

.invite__label {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #555;
}

input.invite__input {
    width: 90%;
    padding: 10px 20px;
    font-size: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    display: block;
}

.invite__submit {
    width: 90%;
    margin: 33px auto;
    display: block;
    padding: 20px;
    font-size: 20px;
    background-color: #1398d5;
    color: #ffff;
}

.invite__success-header {
    text-align: center;
    font-size: 50px;
}

.invite__success-subheader {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}